@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Inknut+Antiqua:wght@800&family=Indie+Flower&display=swap");
.headerWrapper {
  width: 100vw;
  height: 50vh;
  position: relative;
  background: url("../images/bookshelf.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.headerWrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(closest-side, transparent 50%, black 150%);
}

.headerWrapper .headerContainer {
  width: 100%;
  position: fixed;
  z-index: 9;
  padding: 2.5vh 0;
  background: rgba(0, 0, 0, 0.75);
}

.headerWrapper .headerContainer .headerLinkList {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Inknut Antiqua", serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerWrapper .headerContainer .headerLinkList {
  font-size: 17px;
}

@media screen and (min-width: 320px) {
  .headerWrapper .headerContainer .headerLinkList {
    font-size: calc( 17px + strip-unit(3px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .headerWrapper .headerContainer .headerLinkList {
    font-size: 20px;
  }
}

.headerWrapper .headerContainer .headerLinkList .navLink {
  color: #ffac41;
  text-decoration: none;
}

.headerWrapper .headerContainer .headerLinkList .navLink:hover {
  color: #fff;
  text-decoration: underline;
}

.headerWrapper .headerText {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 1.5vw;
}

.headerWrapper .headerText h1 {
  font-family: "Inknut Antiqua", serif;
  color: #fff;
}

.headerWrapper .headerText h1 {
  font-size: 40px;
}

@media screen and (min-width: 320px) {
  .headerWrapper .headerText h1 {
    font-size: calc( 40px + strip-unit(20px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .headerWrapper .headerText h1 {
    font-size: 60px;
  }
}

.headerWrapper .headerText h1 .headTextEmph {
  margin-left: 0.5vw;
  color: #ffac41;
}

.headerWrapper .headerText h1 .headTextEmph {
  font-size: 50px;
}

@media screen and (min-width: 320px) {
  .headerWrapper .headerText h1 .headTextEmph {
    font-size: calc( 50px + strip-unit(20px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .headerWrapper .headerText h1 .headTextEmph {
    font-size: 70px;
  }
}

.searchWrap {
  width: 100vw;
  background: #000;
}

.searchWrap .searchbarWrap {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 1.25vh 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.searchWrap .searchbarWrap .searchbarField {
  width: 88%;
  height: 5vh;
  background-color: #323232;
  border-radius: 5px;
  padding: 0.25vw 0.5vw;
  font-family: "Indie Flower", cursive;
  font-weight: bolder;
  letter-spacing: 0.27rem;
  color: white;
}

.searchWrap .searchbarWrap .searchbarField {
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  .searchWrap .searchbarWrap .searchbarField {
    font-size: calc( 12px + strip-unit(10px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .searchWrap .searchbarWrap .searchbarField {
    font-size: 22px;
  }
}

.searchWrap .searchbarWrap .searchBtn {
  width: 9%;
  border-radius: 5px;
  background-color: #323232;
  color: #fff;
}

.searchWrap .searchbarWrap .searchBtn {
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  .searchWrap .searchbarWrap .searchBtn {
    font-size: calc( 12px + strip-unit(10px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .searchWrap .searchbarWrap .searchBtn {
    font-size: 22px;
  }
}

.searchWrap .searchbarWrap .searchBtn:hover {
  cursor: pointer;
}

.searchWrap .searchResultWrapper {
  background-color: #fff;
  width: 100%;
}

.searchWrap .searchResultWrapper .searchResultContent {
  width: 70%;
  margin: 0 auto;
  padding-top: 5vh;
}

.searchWrap .searchResultWrapper .searchResultContent h2 {
  font-family: "Indie Flower", cursive;
  font-weight: bolder;
  letter-spacing: 0.75rem;
  line-height: 4.1rem;
}

.searchWrap .searchResultWrapper .searchResultContent h2 {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .searchWrap .searchResultWrapper .searchResultContent h2 {
    font-size: calc( 20px + strip-unit(10px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .searchWrap .searchResultWrapper .searchResultContent h2 {
    font-size: 30px;
  }
}

.searchWrap .searchResultWrapper .searchResultContent .bookContainer {
  display: block;
  width: 100%;
  margin: 5vh 0;
  padding: 4vw;
  border-bottom: 2px dashed #ffac41;
}

.searchWrap .searchResultWrapper .searchResultContent .bookContainer h3 {
  font-family: "Inknut Antiqua", serif;
  color: #ffac41;
}

.searchWrap .searchResultWrapper .searchResultContent .bookContainer h3 {
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  .searchWrap .searchResultWrapper .searchResultContent .bookContainer h3 {
    font-size: calc( 25px + strip-unit(10px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .searchWrap .searchResultWrapper .searchResultContent .bookContainer h3 {
    font-size: 35px;
  }
}

.searchWrap .searchResultWrapper .searchResultContent .bookContainer h5 {
  font-family: "Inknut Antiqua", serif;
}

.searchWrap .searchResultWrapper .searchResultContent .bookContainer h5 {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  .searchWrap .searchResultWrapper .searchResultContent .bookContainer h5 {
    font-size: calc( 15px + strip-unit(5px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .searchWrap .searchResultWrapper .searchResultContent .bookContainer h5 {
    font-size: 20px;
  }
}

.searchWrap .searchResultWrapper .searchResultContent .bookContainer .bookFirstRow {
  width: 100%;
  float: left;
  text-align: center;
  overflow: hidden;
}

.searchWrap .searchResultWrapper .searchResultContent .bookContainer .bookFirstRow .bookImageContainer {
  width: 17%;
  display: inline-block;
  overflow: auto;
}

.searchWrap .searchResultWrapper .searchResultContent .bookContainer .bookFirstRow .bookImageContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.searchWrap .searchResultWrapper .searchResultContent .bookContainer .bookBottom {
  display: block;
  width: 100%;
  margin: 4vh 0;
  text-align: center;
}

.searchWrap .searchResultWrapper .searchResultContent .bookContainer .bookBottom .bookButton {
  font-family: "Inknut Antiqua", serif;
  width: 100%;
  background-color: #ffac41;
  border-radius: 10px;
  color: #fff;
  padding: 2vh;
}

.bookshelfWrapper {
  width: 100vw;
}

.bookshelfWrapper .searchResultWrapper {
  background-color: #fff;
  width: 100%;
}

.bookshelfWrapper .searchResultWrapper .searchResultContent {
  width: 70%;
  margin: 0 auto;
  padding-top: 5vh;
}

.bookshelfWrapper .searchResultWrapper .searchResultContent h2 {
  font-family: "Indie Flower", cursive;
  font-weight: bolder;
  letter-spacing: 0.75rem;
  line-height: 4.1rem;
}

.bookshelfWrapper .searchResultWrapper .searchResultContent h2 {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .bookshelfWrapper .searchResultWrapper .searchResultContent h2 {
    font-size: calc( 20px + strip-unit(10px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .bookshelfWrapper .searchResultWrapper .searchResultContent h2 {
    font-size: 30px;
  }
}

.bookshelfWrapper .searchResultWrapper .searchResultContent .bookContainer {
  display: block;
  width: 100%;
  margin: 5vh 0;
  padding: 4vw;
  border-bottom: 2px dashed #ffac41;
}

.bookshelfWrapper .searchResultWrapper .searchResultContent .bookContainer h3 {
  font-family: "Inknut Antiqua", serif;
  color: #ffac41;
}

.bookshelfWrapper .searchResultWrapper .searchResultContent .bookContainer h3 {
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  .bookshelfWrapper .searchResultWrapper .searchResultContent .bookContainer h3 {
    font-size: calc( 25px + strip-unit(10px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .bookshelfWrapper .searchResultWrapper .searchResultContent .bookContainer h3 {
    font-size: 35px;
  }
}

.bookshelfWrapper .searchResultWrapper .searchResultContent .bookContainer h5 {
  font-family: "Inknut Antiqua", serif;
}

.bookshelfWrapper .searchResultWrapper .searchResultContent .bookContainer h5 {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  .bookshelfWrapper .searchResultWrapper .searchResultContent .bookContainer h5 {
    font-size: calc( 15px + strip-unit(5px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .bookshelfWrapper .searchResultWrapper .searchResultContent .bookContainer h5 {
    font-size: 20px;
  }
}

.bookshelfWrapper .searchResultWrapper .searchResultContent .bookContainer .bookFirstRow {
  width: 100%;
  float: left;
  text-align: center;
  overflow: hidden;
}

.bookshelfWrapper .searchResultWrapper .searchResultContent .bookContainer .bookFirstRow .bookImageContainer {
  width: 17%;
  display: inline-block;
  overflow: auto;
  margin-top: 2vh;
}

.bookshelfWrapper .searchResultWrapper .searchResultContent .bookContainer .bookFirstRow .bookImageContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bookshelfWrapper .searchResultWrapper .searchResultContent .bookContainer .bookBottom {
  display: block;
  width: 100%;
  margin: 4vh 0;
  text-align: center;
}

.bookshelfWrapper .searchResultWrapper .searchResultContent .bookContainer .bookBottom .bookButton {
  font-family: "Inknut Antiqua", serif;
  width: 100%;
  background-color: #ffac41;
  border-radius: 10px;
  color: #fff;
  padding: 2vh;
}

body {
  font-family: "Crimson Text", serif;
  line-height: 2rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

body {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  body {
    font-size: calc( 18px + strip-unit(4px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}
/*# sourceMappingURL=style.css.map */