.headerWrapper {
  width: 100vw;
  height: 50vh;
  position: relative;
  background: url("../images/bookshelf.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(closest-side, transparent 50%, black 150%);
  }

  .headerContainer {
    width: 100%;
    position: fixed;
    z-index: 9;
    padding: 2.5vh 0;
    background: rgba(0, 0, 0, 0.75);

    .headerLinkList {
      width: 70%;
      margin: 0 auto;
      display: flex;
      font-family: $header-font-fam;
      justify-content: space-between;
      @include fluid-type(320px, 1200px, 17px, 20px);

      .navLink {
        color: #ffac41;
        text-decoration: none;

        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }

  .headerText {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1.5vw;

    h1 {
      font-family: $header-font-fam;
      color: #fff;
      @include fluid-type(320px, 1200px, 40px, 60px);

      .headTextEmph {
        margin-left: 0.5vw;
        color: #ffac41;
        @include fluid-type(320px, 1200px, 50px, 70px);
      }
    }
  }
}
